langchain_experimental
langchain_core
google-generativeai
google-ai-generativelanguage
langchain-google-genai
langchain
python-dotenv
google-cloud-aiplatform
ipython
Pillow
pymupdf
matplotlib
networkx
langchain-google-genai
langchain
langchain-community
seaborn
pandas
pypdf
chromadb
bitsandbytes
python-environ
os-sys
accelerate